*{
  font-family: monospace;
}
body{
  font-size: 21px;
}

#first , #second{
  color: red;
  
 
}
#first>p{
  color: green;
}
.purple{
  color: purple;
}

.highlight{
  background-color: yellow;
  font-weight: bolder;
  font-style: italic;
}
